@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");
:root {
    --dark-color: hsl(var(--hue), 100%, 9%);
    --light-color: hsl(var(--hue), 95%, 98%);
    --base: hsl(var(--hue), 95%, 50%);
    --complimentary1: hsl(var(--hue-complimentary1), 95%, 50%);
    --complimentary2: hsl(var(--hue-complimentary2), 95%, 50%);
  
    --font-family: "Poppins", system-ui;
  
    --bg-gradient: linear-gradient(
      to bottom,
      hsl(var(--hue), 95%, 99%),
      hsl(var(--hue), 95%, 84%)
    );

    --card-width: 200px;
    --card-height: 300px;
    --card-transition-duration: 800ms;
    --card-transition-easing: ease;

  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    /* max-width: 1920px; */
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 2rem;
    font-family: var(--font-family);
    color: var(--dark-color);
    background: var(--bg-gradient);
  }
  
  .orb-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
    /* background-color: black; */
  }
  
  strong {
    font-weight: 600;
  }
  
  .overlay {
    width: 100%;
    /* max-width: 1140px;
    max-height: 640px; */
    padding: 8rem 6rem;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.375);
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }
  
  .overlay__inner {
    max-width: 36rem;
  }
  
  .overlay__title {
    font-size: 1.875rem;
    line-height: 2.75rem;
    font-weight: 700;
    letter-spacing: -0.025em;
    margin-bottom: 0.5rem;
  }

  .overlay__speaker {
    font-size: 1.175rem;
    text-align: right;
    margin-right: 3rem;
    margin-bottom: 2rem;
  }
  
  .text-gradient {
    background-image: linear-gradient(
      45deg,
      var(--base) 25%,
      var(--complimentary2)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
  
  .overlay__description {
    font-size: 1rem;
    line-height: 1.75rem;
    margin-bottom: 3rem;
  }
  
  .overlay__input{
    width: 100%;
    max-width: 30rem;
    display: flex;
    margin-bottom: 1rem;
    
  }


  .overlay_btn_mint {
    border: #000 solid 2px;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  .overlay_btn_mint:hover {
    scale: 1.1;
  }
  
  .overlay__btns {
    width: 100%;
    max-width: 30rem;
    display: flex;
  }
  
  
  .overlay__btn {
    width: 50%;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--light-color);
    background: var(--dark-color);
    /* border: none; */
    border-radius: 0.5rem;
    transition: transform 150ms ease;
    outline-color: hsl(var(--hue), 95%, 50%);
  }
  
  .overlay__btn:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  .overlay__btn--transparent {
    background: transparent;
    color: var(--dark-color);
    border: 2px solid var(--dark-color);
    border-width: 2px;
    margin-right: 0.75rem;
  }
  
  .overlay__btn-emoji {
    margin-left: 0.375rem;
  }
  
  a {
    text-decoration: none;
    color: var(--dark-color);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Not too many browser support this yet but it's good to add! */
  @media (prefers-contrast: high) {
    .orb-canvas {
      display: none;
    }
  }
  
  @media only screen and (max-width: 4000px) {
    .zoom-in {
      width: 40vw;
      height: 45vh;
    }

    .info {
      margin-left: calc(var(--card-width) / 1.5);
    }    

    .cardList {
      width: 40vw;
    }

    .card.previous--card {
      --card-translateX-offset: calc(-1 * var(--card-width) * 1.3);
    }
    
    .card.next--card {
      --card-translateX-offset: calc(var(--card-width) * 1.3);
    }   


  }

  @media only screen and (max-width: 1140px) {
    .overlay {
      padding: 8rem 4rem;
    }

    .zoom-in {
      width: 40vw;
      height: 45vh;      
    }

    .info {
      margin-left: calc(var(--card-width) / 1.5);
    }    
    
    .cardList {
      width: 40vw;
    }

    .card.previous--card {
      --card-translateX-offset: calc(-1 * var(--card-width) * 1.3);
    }
    
    .card.next--card {
      --card-translateX-offset: calc(var(--card-width) * 1.3);
    }   
    

  }
  
  @media only screen and (max-width: 840px) {
    body {
      padding: 1.5rem;
    }
  
    .overlay {
      padding: 4rem;
      height: auto;
    }
  
    .overlay__title {
      font-size: 1.25rem;
      line-height: 2rem;
      margin-bottom: 1.5rem;
    }
  
    .overlay__description {
      font-size: 0.875rem;
      line-height: 1.5rem;
      margin-bottom: 2.5rem;
    }

    .zoom-in {
      width: 40vw;
      height: 45vh;      
    }

    .info {
      margin-left: calc(var(--card-width) / 1.5);
    }    

    .cardList {
      width: 40vw;
    }

    .card.previous--card {
      --card-translateX-offset: calc(-1 * var(--card-width) * 1.3);
    }

    .card.next--card {
      --card-translateX-offset: calc(var(--card-width) * 1.3);
    }   

    /* .zoom-in {
      width: 50rem;
      height: 30rem;      
    } */

  }
  
  @media only screen and (max-width: 600px) {
    .overlay {
      padding: 1.5rem;
    }
  
    .overlay__btns {
      flex-wrap: wrap;
    }
  
    .overlay__btn {
      width: 100%;
      font-size: 0.75rem;
      margin-right: 0;
    }
  
    .overlay__btn:first-child {
      margin-bottom: 1rem;
    }
    .zoom-in {
      width: 45vw;
      height: 50vh;      
    }
    .info {
      margin-left: calc(var(--card-width) / 0.8);
    }

    .cardList {
      width: 60vw;
    }      

    .card.previous--card {
      /* --card-translateX-offset: calc(-1 * var(--card-width) * 0); */
      display: none;

    }
    .card.next--card {
      display: none;
      /* --card-translateX-offset: calc(var(--card-width) * 0); */
    }
    
    /* @keyframes zoom-in-effect {
      100%{
        margin-top: 8rem;
      }
    }
    @keyframes zoom-out-effect {
      0%{
        margin-top: 8rem;
      }
    } */
    
  }

  .zoom-in {
    /* background-color: black; */
    -webkit-animation-name: zoom-in-effect;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
    /* width: 30vw;
    height: 45vh; */

    /* margin-top: 8rem; */
    /* width: 50rem; */
    /* height: 30rem; */
    /* width: 11rem;
    height: 30rem; */

  }

  .zoom-out {
    -webkit-animation-name: zoom-out-effect;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;

  }
  .fade-out {
    /* background-color: black; */
    -webkit-animation-name: fade-out-effect;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
    display: none;
  }

  .fade-in {
    -webkit-animation-name: fade-in-effect;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
  }

  @keyframes fade-in-effect {
    0% {
      opacity: 0;
    }    
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fade-out-effect {
    0% {
      opacity: 1;
    }    
    50% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes zoom-in-effect {
    0% {
      transform: scale(1, 1);
    }    
    50% {
      transform: scale(0.1, 0.1);
    }
    100% {
      transform: scale(2, 1.8);
      /* margin-top: 8rem; */
    }
  }

  @keyframes zoom-out-effect {
    0% {
      transform: scale(2, 1.8);
      /* margin-top: 8rem; */
    }    
    50% {
      transform: scale(0.1, 0.1);
    }
    100% {
      transform: scale(1, 1);
    }
  }


  button {
    border: none;
    background: none;
    cursor: pointer;
  }
  button:focus {
    outline: none;
    border: none;
  }
  
  .app {
    position: relative;
    /* width: 100%;
    height: 100%; */
    display: flex;
    
    justify-content: center;
    align-items: center;
  }
  
  .app__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -5;
    filter: blur(8px);
    pointer-events: none;
    user-select: none;
    overflow: hidden;
  }
  .app__bg::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1;
    opacity: 0.8;
  }
  .app__bg__image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) translateX(var(--image-translate-offset, 0));
    width: 180%;
    height: 180%;
    transition: transform 1000ms ease, opacity 1000ms ease;
    overflow: hidden;
  }
  .app__bg__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .app__bg__image.current--image {
    opacity: 1;
    --image-translate-offset: 0;
  }
  .app__bg__image.previous--image, .app__bg__image.next--image {
    opacity: 0;
  }
  .app__bg__image.previous--image {
    --image-translate-offset: -25%;
  }
  .app__bg__image.next--image {
    --image-translate-offset: 25%;
  }
  
  .cardList {
    position: absolute;
    /* width: calc(3 * var(--card-width)); */
    /* width: 60vw; */
    height: auto;
  }
  .cardList__btn {
    /* display: inline; */
    --btn-size: 35px;
    width: var(--btn-size);
    height: var(--btn-size);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
  }
  .cardList__btn.btn--left {
    left: -5%;
  }
  .cardList__btn.btn--right {
    right: -5%;
  }
  .cardList__btn .icon {
    width: 100%;
    height: 100%;
  }
  .cardList__btn .icon svg {
    width: 100%;
    height: 100%;
  }
  
  .cardList .cards__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    perspective: 1000px;
    
  }
  
  .card {
    --card-translateY-offset: -35vh;
    position: absolute;
    left: 50%;
    /* top: 50%; */
    transform: translate(-50%, -50%) translateX(var(--card-translateX-offset)) translateY(var(--card-translateY-offset)) rotateY(var(--card-rotation-offset)) scale(var(--card-scale-offset));
    display: inline-block;
    width: var(--card-width);
    height: var(--card-height);
    transition: transform var(--card-transition-duration) var(--card-transition-easing);
    user-select: none;
    border-radius: 10px;
  }
  .card::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1;
    transition: opacity var(--card-transition-duration) var(--card-transition-easing);
    opacity: calc(1 - var(--opacity));
    border-radius: 10px;
  }
  .card__image {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .card__image img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 3%;
    object-fit: cover;
  }
  .card.current--card {
    --current-card-rotation-offset: 0;
    --card-translateX-offset: 0;
    --card-rotation-offset: var(--current-card-rotation-offset);
    --card-scale-offset: 1.2;
    --opacity: 0.8;
  }
  .card.previous--card {
    /* --card-translateX-offset: calc(-1 * var(--card-width) * 1.3); */
    --card-rotation-offset: 25deg;
    
  }
  .card.next--card {
    /* --card-translateX-offset: calc(var(--card-width) * 1.3); */
    --card-rotation-offset: -25deg;
  }
  .card.previous--card, .card.next--card {
    --card-scale-offset: 0.9;
    --opacity: 0.4;
  }
  
  .infoList {
    position: absolute;
    width: calc(3 * var(--card-width));
    height: var(--card-height);
    pointer-events: none;
  }
  .infoList .info__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    perspective: 1000px;
    transform-style: preserve-3d;
  }
  
  .info {
    margin-bottom: calc(var(--card-height) / 3);
    /* margin-left: calc(var(--card-width) / 1.5);
    margin-left: calc(var(--card-width) / 0.8); */
    transform: translateZ(2rem);
    transition: transform var(--card-transition-duration) var(--card-transition-easing);
  }
  .info .text {
    position: relative;
    font-family: "Montserrat";
    font-size: calc(var(--card-width) * var(--text-size-offset, 0.2));
    white-space: nowrap;
    color: rgb(85, 75, 75);
    width: fit-content;
  }
  .info .name,
  .info .location {
    text-transform: uppercase;
  }
  .info .location {
    font-weight: 800;
  }
  .info .location {
    --mg-left: 40px;
    --text-size-offset: 0.12;
    font-weight: 600;
    margin-left: var(--mg-left) * 1;
    margin-bottom: calc(var(--mg-left) / 2);
    padding-bottom: 0.8rem;
  }
  .info .location::before, .info .location::after {
    content: "";
    position: absolute;
    /* background: rgb(85, 75, 75); */
    left: 0%;
    transform: translate(calc(-1 * var(--mg-left)), -50%);
  }
  .info .location::before {
    top: 50%;
    width: 20px;
    height: 5px;
  }
  .info .location::after {
    bottom: 0;
    width: 60px;
    height: 2px;
  }

  .info .date {
    --text-size-offset: 0.1;
  }

  .info .description {
    text-transform: lowercase;
    --text-size-offset: 0.065;
    font-weight: 500;
  }
  .info.current--info {
    opacity: 1;
    display: block;
  }
  .info.previous--info, .info.next--info {
    opacity: 0;
    display: none;
  }
  
  .loading__wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000;
    z-index: 200;
  }
  .loading__wrapper .loader--text {
    color: #fff;
    font-family: "Montserrat";
    font-weight: 500;
    margin-bottom: 1.4rem;
  }
  .loading__wrapper .loader {
    position: relative;
    width: 200px;
    height: 2px;
    background: rgba(255, 255, 255, 0.25);
  }
  .loading__wrapper .loader span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: red;
    transform: scaleX(0);
    transform-origin: left;
  }
  
  @media only screen and (min-width: 800px) {
    :root {
      --card-width: 250px;
      --card-height: 400px;
    }
  }
  .support {
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 10px;
    display: flex;
  }
  .support a {
    margin: 0 10px;
    color: #fff;
    font-size: 1.8rem;
    backface-visibility: hidden;
    transition: all 150ms ease;
  }
  .support a:hover {
    transform: scale(1.1);
  }

  .back-button {
    position: fixed;
    top: 50px;
    right:100px;
    display: flex;
    fill:rgb(85, 61, 59);
    cursor: pointer;
    
  }

  .back-button:hover {
    transform: scale(1.1);
  }